<div class="cbi-section" id="cbi-<%=self.config%>-<%=self.sectiontype%>">
	<% if self.title and #self.title > 0 then -%>
		<h3 class="content-title" onclick="toggleContent(this, '<%=self.config%>.<%=self.sectiontype%>.broker.toggle')">
			<div class="toggle-arrow expanded"><img src="<%=media%>/img/icons/arrow-toggle.svg"></div>
			<%=self.title%>
		</h3>
	<%- end %>
	<% if self.description and #self.description > 0 then -%>
		<span class="cbi-section-descr"><%=self.description%></span>
	<%- end %>
		<div id="<%=self.config%>.<%=self.sectiontype%>.broker.toggle" class="toggle-content">
	<% local isempty = true for i, k in ipairs(self:cfgsections()) do -%>
		<% if self.addremove then -%>
			<div class="cbi-section-remove right">
				<input type="submit" name="cbi.rts.<%=self.config%>.<%=k%>"
					   onclick="this.form.cbi_state='del-section'; return true" value="<%:Delete%>" class="btn" />
			</div>
		<%- end %>

		<%- section = k; isempty = false -%>

		<% if not self.anonymous then -%>
			<h3><%=section:upper()%></h3>
		<%- end %>
		<%if self.tabs then -%>
		<div class="inner-tab-container">
			<%+mqtt/tabmenu%>

			<div class="inner-tab-content no-radius" id="cbi-<%=self.config%>-<%=section%>">
				<div class="form-container">
					<%+cbi/ucisection%>
				</div>
			</div>
		</div>
		<%-else-%>
		<div class="form-container">
			<%+cbi/ucisection%>
		</div>
		<%-end%>
	<%- end %>

	<% if isempty or self.addremove then -%>
		<div class="table-wrapper table-addremove">
			<table>
				<tbody>
			<%- if isempty then -%>
				<tr>
					<td <%=ifattr(not self.anonymous, "colspan", "2")%>><em><%:This section contains no values yet%></em></td>
				</tr>
			<%- end %>

			<% if self.addremove then -%>
				<tr>
				<% if self.template_addremove then include(self.template_addremove) else -%>
					<% if self.anonymous then -%>
						<td>
							<input type="submit" class="btn" value="<%:Add%>"
								   name="cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>"/>
						</td>
					<%- else -%>
						<td>
							<% if self.invalid_cts then -%>
								<div class="cbi-section-error"><%:Invalid%></div>
							<%- end %>
							<input type="text" class="input-cell" id="cbi.cts.<%=self.config%>.<%=self.sectiontype%>."
								   name="cbi.cts.<%=self.config%>.<%=self.sectiontype%>." data-type="uciname"
								   data-optional="true" />
						</td>
						<td>
							<input class="btn" type="submit" value="<%:Add%>" title="<%:Add%>"
								   onclick="this.form.cbi_state='add-section'; return true"/>
						</td>
					<%- end %>
				<%- end %>
				</tr>
			<%- end %>
				</tbody>
			</table>
		</div>
	<%- end %>
</div>
<script type="text/javascript">
	checkToggled(document.getElementById("<%=self.config%>.<%=self.sectiontype%>.broker.toggle"),
		'<%=self.config%>.<%=self.sectiontype%>.broker.toggle');
</script>
</div>
